<h1>ここはBBSのトップページです</h1>
<p>Sinatraで作った初めての自作アプリケーションです</p>
<form action="creates" method="post">
  <label for="name">
    <span>ニックネーム：</span><input id="name" type="text" name="name" size="10">
  </label>
  <label for="text">
    <span>テキスト：</span><input id="text" type="text" name="text">
  </label>
  <input type="submit" value="つぶやく">
</form>
